.button {
  width: auto;
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  padding: .5rem 1.5rem;
  border: 1px solid #1976d2;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 200;
  color: #1976d2;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 1s;
}

.button:disabled {
  cursor: not-allowed;
  border-color: #777777;
  color: #777777;
}

.button:disabled .buttonIcon{
  fill: #777777;
}

.buttonIcon {
  margin-right: .5rem;
  fill: #155391;
}

.loading {
  width: 1.5rem;
  height: 1.5rem;
  color: #1976d2; 
  animation: color-spin 1.5s linear infinite;
}

@keyframes color-spin {
  0% {
    transform: rotate(0deg);
    fill: #1976d2;
  }

  50% {
    transform: rotate(90deg); /* Rotate halfway */
    fill: #33a6ff; /* Change color in the middle */
  }

  100% {
    transform: rotate(360deg); /* Rotate to the end */
    fill: #1976d2; /* Return to the original color */
  }
}